parameters:
    level: 5
    paths:
        - static-interactivity.php
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php

    excludePaths:
        - vendor/
        - node_modules/
        - assets/build/
        - tests/

    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - message: '#Call to static method get_instance\(\) on an unknown class static-interactivity.php_Namespace\\Plugin#'
          paths:
              - static-interactivity.php
